# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Logs
*.log

# ==========================
# Project Data
# ==========================

# Ignore all datasets
data/raw/**
data/bronze/**
data/silver/**
data/gold/**

# Keep folder structure
!data/raw/.gitkeep
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep

# Outputs
outputs/**

# Keep folder
!outputs/.gitkeep

# Large model files
*.parquet
*.feather
*.h5
*.joblib
*.pkl
*.zip

# Power BI backups
*.tmp
*.bak